p{
    color:blue;
}
.Pestni{
    color:yellow;
    font-size: 30px;
}
img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
button{
    display: block;
    text-align: center;
}
div{
    border: 5px solid rgba(136, 255, 0, 0.89);
    text-align: center;
}
